<nav>
    <div class='col-sm-3'><%= link_to "Home", root_path %></div>
    <div class='col-sm-3'><%= link_to "Schools", schools_path %></div>
    <div class='col-sm-3'><%= link_to "Teachers", teachers_path %></div>
    <div class='col-sm-3'><%= link_to "Students", students_path %></div>
</nav>
